<div class="about-heading">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 158.91 36.82"><title>about</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M13.24,42.47h1.51L27.46,78H25.62L18.2,56.68c-1.51-4.3-2.8-8-4.1-12.38h-.21C12.6,48.72,11.3,52.38,9.8,56.68L2.26,78H.54ZM6,63.79H21.8V65.3H6Z" transform="translate(-0.54 -41.82)"/><path d="M34.72,42.47H44c7.11,0,11.52,2.8,11.52,8.61a7.57,7.57,0,0,1-5.6,7.76v.21c4.74.76,7.86,3.66,7.86,8.61C57.76,74.45,52.7,78,44.63,78H34.72ZM42.9,58.3c7.75,0,10.88-2.69,10.88-7.11,0-5.27-3.66-7.21-10.55-7.21H36.44V58.3ZM44,76.49C51.41,76.49,56,73.8,56,67.77c0-5.38-4.42-8-12.06-8H36.44V76.49Z" transform="translate(-0.54 -41.82)"/><path d="M64.6,60.13c0-11.2,6-18.31,14.42-18.31s14.43,7.11,14.43,18.31S87.42,78.65,79,78.65,64.6,71.33,64.6,60.13Zm27,0c0-10.23-5.06-16.69-12.6-16.69S66.43,49.9,66.43,60.13,71.49,77,79,77,91.62,70.36,91.62,60.13Z" transform="translate(-0.54 -41.82)"/><path d="M103.08,64.76V42.47h1.73V64.33c0,9.79,4.73,12.7,9.9,12.7s10.12-2.91,10.12-12.7V42.47h1.62V64.76c0,11-6,13.89-11.74,13.89S103.08,75.74,103.08,64.76Z" transform="translate(-0.54 -41.82)"/><path d="M146.2,44H134.68V42.47h24.77V44H147.93V78H146.2Z" transform="translate(-0.54 -41.82)"/></g></g></svg>
</div>

<div class="about-gradient">
    <img src="/images/about-gradient.png" alt="gradient">
</div>
