<link rel="stylesheet" href="/css/navbar.css">

<!--Drop Down NAV BAR-->
<nav class = "topnav" id = "myTopnav">
    <ul>
        <li><a href="/"><strong>About</strong></a>
            <ul class = "back-home">
            </ul>
        </li>

        <div class="nav-items">

        </div>
        <li><a href="/toolboxes">My Boxes</a>
            <ul class = "drop-menu">
                <li>Make School</li>
                <li>Personal</li>
                <li>Family</li>
                <li>Felt Thing</li>
            </ul>
        </li>

        <div id="menuToggle">
            <li class="responsive-menu">
            <input type="checkbox" />
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
                <ul id="menu">
                 <li><a href="/">About</a></li>
                  <li><a href="/toolboxes">My Boxes</a></li>
                </ul>
            </li>
         </div>

    </ul>
</nav>
