<!--NAVBAR  -->
<nav class = "topnav" id = "myTopnav">
    <ul>
        <li>
            <a href="/">Learn More</a>
            <ul class = "drop-menu about-menu">
                <li>Learn More</li>
            </ul>
        </li>

<!--DROP DOWN NAV -->
        <li>
            <a href="/toolboxes">My Boxes</a>
            <ul class = "drop-menu">
                <li>Health / Medical</li>
                <li>Kitchen Remodel</li>
                <li>Family Stuff</li>
                <li>Internship Material</li>
                <li>Spring To-Dos</li>
            </ul>
        </li>

<!--RESPONSIVE HAMBURGER MENU/TOGGLE -->
        <div id="menuToggle">
            <li class="responsive-menu">
            <input type="checkbox" />
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
                <ul id="menu">
                    <li><a href="/">About</a></li>
                    <li><a href="/toolboxes">My Boxes</a></li>
                </ul>
            </li>
         </div>
    </ul>
</nav>
