<fieldset>
  <legend>Edit Your Toolbox</legend>
  <!-- Box Label -->
  <div class="form-group">
    <label for="toolbox-boxLabel">Label</label><br>
    <input class="form-control" id="toolbox-boxLabel" type="text" name="title" value="{{toolbox.boxLabel}}"/>
  </div>

  <!-- TOOLBOX DESCRIPTION -->
  <div class="form-group">
    <label for="toolbox-description">Toolbox Description</label><br>
    <textarea class="form-control" id="toolbox-description" name="description" rows="10" />{{toolbox.description}}</textarea>
  </div>
</fieldset>
