<!--LAYOUT TEMPLATE/SUPER TEMPLATE-->
<!--All other templates inherit from main.handlebars -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toolbox</title>
    <!--Import Style Sheet-->
    <link type"text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>

    {{> navbar}}
    {{{body}}}

</body>
</html>
