<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

      <form method="POST" action="/toolboxes/{{toolbox._id}}?_method=PUT">

        <!--Reference to form Partial -->
        {{> toolboxes-form}}

        <!-- SAVE CHANGES BUTTON -->
        <p>
          <button type="submit">Save Changes</button>
        </p>

    </form>
  </div>
</div>
