<form method="POST" action="/toolboxes">
  <fieldset>
    <legend>Create a New Toolbox</legend>
    <!-- TITLE -->
    <p>
      <label for="boxLabel">Toolbox Label</label><br>
      <input type="text" name="boxLabel" />
    </p>
    <p>
      <label for="description">Toolbox Description</label><br>
      <input type="text" name="description" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Create Toolbox</button>
  </p>

</form>
