<h1>MY TOOLBOXES</h1>

    <img class="toolboxes-big"src="/images/tool-boxes-big.png" alt="">


<!--Link to Create New Toolbox  -->
<a href="/toolboxes/new">Create a New Toolbox</a>

<div class="row">
    {{#each toolboxes}}
  <div class="col-sm-3">
    <h2><a href="/toolboxes/{{this._id}}">{{this.boxLabel}}</a></h2>
    <small>{{this.description}}</small>
  </div>
{{/each}}
</div>
