<h1>My Toolboxes</h1>

<!--Link to Create New Toolbox  -->
<a href="/toolboxes/new">Create a New Toolbox</a>

{{#each toolboxes}}
  <h2>{{this.boxLabel}}</h2>
  <small>{{this.description}}</small>
{{/each}}
